@import "tailwindcss";

@theme {
  --color-mzansi-green: #10B981;
  --color-mzansi-dark: #111827;
  --color-mzansi-light: #F9FAFB;
  --color-mzansi-white: #FFFFFF;
  --color-mzansi-black: #000000;
}

body {
  background-color: var(--color-mzansi-light);
  color: var(--color-mzansi-dark);
}